.admin-page {
  margin: 0px;
  display: flex;
  flex-direction: row;
}

.admin-page-bg {
  width: 81vw;
  flex-grow: 1;
  height: 100vh;
  overflow-y: scroll;
}

.page-nav {
  background-color: #d5d7ed;
  border-radius: 5px;
  margin-top: 1px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  box-shadow: 0px 0px 5px 0px rgb(81, 77, 77);
}

.admin-page-constent-bg {
  margin-left: 15px;
}
.admin-side-headings {
  padding-left: 10px;
}
.team-cards-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.admin-page-card {
  background-color: #dcdedc;
  height: 100px;
  width: 350px;
  border-radius: 5px;
  padding: 15px;
  margin: 10px;
}
.admin-card-link {
  text-decoration: none;
}
.admin-card-heading {
  margin: 10px;
  font-family: "Roboto";
  color: #000000;
}
.admin-card-text {
  margin: 10px;
  font-family: "Roboto";
  color: #555753;
  font-weight: 500;
}
