.templates-bg {
  display: flex;
  width: 100vw;
}
.templates-header {
  display: flex;
  align-items: baseline;

  padding-left: 20px;
  box-shadow: 1px 1px 2px 2px #888888;
}
.table-header-content {
  margin-left: 20px;
}
.templates-header-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.templates-header-edit {
  display: flex;
  align-items: center;
}
.temp-logo {
  font-size: 30px;
  margin-top: 10px;
  margin-left: 15px;
}

.temp-content-bg {
  display: flex;
  flex-direction: column;
  max-width: 1500px;
}
.drop-down-list {
  list-style-type: none;
  padding: 2px;
  margin: 5px;
  font-size: 15px;
  font-family: "Roboto";
  position: fixed;
  right: 50px;
  background-color: #888888;
  color: #ffffff;
  border-radius: 5px;
}
